body{
  height: 100vh;
  display: flex;
  justify-content: center;

}

.style{
  color: red;
}

.todo__container{
  display: flex;
  gap: .5rem;
}

.add{
  background-color: green;
  border: none;
  padding: 0 1rem;
  color: white;
}